{% extends 'main/layout.html' %}
{% block title %}
    Создание задачи
{% endblock %}

{% block style %}
<style>
aside{
    position: fixed;
    background-color: #362c36;
    float: left;
    width: 17%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 2px solid #AFDAFC;
}
main {
 background: linear-gradient(45deg, #dcbed4, #4f1c55);
  margin-left: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
{% endblock %}
{% block user %}{{current_user}}{% endblock %}
{% block content %}
    {% if current_user == tasks.tasks_owner %}
    <div class="header"><h1>Создание задачи</h1></div>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>Введите короткое название задачи</p>
            {{form.tasks_id}}<br>
            <p>Введите полное название задачи</p>
            {{form.tasks_full_name}}<br>
            <p>Введите подробное описание задачи</p>
            {{form.tasks_description}}<br>
            <p>Исполнитель</p>
            {{form.tasks_owner}}<br>
            <p>Отметка о выполнении: {{form.tasks_check}}</p><br><br>
            <button class="btn btn-success" type="submit">Добавить задачу</button><br>
            <span>{{ error }}</span>
        </form>
    </div>
    {% else %}
        <h1>Вы не можете изменять это содержимое</h1>
    {% endif %}
<script>
var defaultValue;

window.onload = function() {
  var select = document.getElementById('my');
  defaultValue = select.value;
}

document.getElementById('my').addEventListener('change', function(e) {
  e.preventDefault();
  this.value = defaultValue;
});

</script>
{% endblock %}