{% extends 'main/layout.html' %}
{% block title %}
    Задачи
{% endblock %}
{% block user %}{{current_user}}{% endblock %}
{% block content %}
    <div class="header"><h1>Задачи</h1></div>
    {% if tasks_data %}
    <table class="table_positions">
        <tr class="table_row" style="text-align: center; font-weight:bold;"><td style="width:80%;">ФИО</td><td>Выполнена?</td></tr>
        {% for el in tasks_data %}
             {% if acl <= el.tasks_owner.persons_role.positions_acl %}
            <tr class="table_row" ><td style="width:80%;"><a href="{% url 'task_detail' el.tasks_id %}">{{el.tasks_id}}</a></td><td>{{el.tasks_check}}</td></tr>
              {% endif %}
        {% endfor %}
    </table>
    {% else %}
        <p style="font-size: 30px;">У вас нет задач</p>

    {% endif %}
    <br>
    <a href="{% url 'create_tasks' %}"><button class="btn btn-success">Добавить задачу</button></a><br>
{% endblock %}