{% extends 'main/layout.html' %}
{% block title %}
    Удаление задачи
{% endblock %}
{% block user %}{{current_user}}{% endblock %}
{% block content %}
    {% csrf_token %}
    {% if acl <= tasks.tasks_owner.persons_role.positions_acl %}
    <div class="header"><h1> Удалить задачу?</h1></div>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Да</button><br><br>
    </form>
        <a href="{% url 'tasks' %}"><button class="btn btn-success">Нет</button></a>
    {% else %}
        <h1>Вы не можете смотреть это содержимое</h1>
    {% endif %}
{% endblock %}