{% extends 'main/layout.html' %}
{% block title %}
    {{ tasks.tasks_id }}
{% endblock %}
{% block user %}{{current_user}}{% endblock %}
{% block content %}
     {% csrf_token %}
    {% if acl <= tasks.tasks_owner.persons_role.positions_acl %}
         <div class="header"><h1>{{ tasks.tasks_id }}</h1></div>
    {% csrf_token %}
    <p>Полное название: {{tasks.tasks_full_name}}</p><br>
    <p>Описание задачи: {{tasks.tasks_description}}</p><br>
    <p>Исполнитель: {{tasks.tasks_owner}}</p><br>
    <p>Статус выпонения: {{tasks.tasks_check}}</p><br>
    <a href="{% url 'task_update' tasks.tasks_id %}"><button class="btn btn-info">Изменить</button></a><br>
    <a href="{% url 'task_delete' tasks.tasks_id %}"><button class="btn btn-danger">Удалить</button></a>
    {% else %}
        <h1>Вы не можете смотреть это содержимое</h1>
    {% endif %}

{% endblock %}