{% extends 'main/layout_admin.html' %}
{% block title %}
    Создание должности
{% endblock %}

{% block style %}
<style>
aside{
    position: fixed;
    background-color: #362c36;
    float: left;
    width: 17%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 2px solid #AFDAFC;
}
main {
 background: linear-gradient(45deg, #dcbed4, #4f1c55);
  margin-left: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
{% endblock %}


{% block content %}

    <div class="header"><h1>Создание должности</h1></div>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>Введите название должности</p>
            {{form.positions_id}}<br>
            <p>Введите описание должности</p>
            {{form.positions_description}}<br>
            <p>Выберите отдел для должности</p>
            {{form.positions_department}}<br>
            <p>Введите уровень доступа</p>
            {{form.positions_acl}}<br><br>
            <button class="btn btn-success" type="submit">Добавить должность</button> <br>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}