{% extends 'main/layout_admin.html' %}
{% block title %}
    {{ departments.positions_id }}
{% endblock %}
{% block content %}
     {% csrf_token %}
    <div class="header"><h1>{{ positions.positions_id }}</h1></div>
    {% csrf_token %}
    <p>{{positions.positions_description}}</p><br>
    <p>Отдел: {{positions.positions_department}}</p><br>
    <p>Уровень доступа: {{positions.positions_acl}}</p><br>
    <a href="{% url 'position_update' positions.positions_id %}"><button class="btn btn-info">Изменить</button></a><br>
    <a href="{% url 'position_delete' positions.positions_id %}"><button class="btn btn-danger">Удалить</button></a>
{% endblock %}