{% extends 'main/layout_admin.html' %}
{% block title %}
    Должности
{% endblock %}
{% block content %}
    <div class="header"><h1>Должности</h1></div>
    {% if positions_data %}
    <table class="table_positions">
        <tr class="table_row" style="text-align: center; font-weight:bold; "><td>Название должности</td></tr>
        {% for el in positions_data %}
            <tr class="table_row"><td><a href="{% url 'position_detail' el.positions_id %}">{{el.positions_id}}</a></td></tr>
        {% endfor %}
    </table>
    {% else %}
        <p style="font-size: 30px;">У вас нет должностей</p>

    {% endif %}
    <br>
    <a href="{% url 'create_positions' %}"><button class="btn btn-success">Добавить должность</button></a><br>
{% endblock %}