{% extends 'main/layout.html' %}
{% block title %}
    403
{% endblock %}
{% block user %} 403 {% endblock %}
{% block content %}
<div class="header"><h1>403 error</h1>
       <h1>Forbidden</h1></div>
{% endblock %}