{% extends 'main/layout.html' %}
{% block title %}
    404
{% endblock %}
{% block user %} 404 {% endblock %}
{% block content %}
<div class="header"><h1>404 error</h1>
       <h1>Page not found</h1></div>
{% endblock %}