{% extends 'main/layout_admin.html' %}
{% block title %}
    Панель администратора
{% endblock %}
{% block content %}
<div class="header"><h1>Вы на панели адинистратора.</h1>
       <h1>Будьте аккуратны.</h1></div>
{% endblock %}