{% load static %}
<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8a0c7936ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>Вход</title>

</head>

<style>
    html, body{
        background: linear-gradient(45deg, #dcbed4, #4f1c55);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    h1{
        color: #f7f7f7;
        font-weight:300;
    }
</style>
<body>
    <h1>Вход в систему</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}<br><br>
        <button type="submit" value="submit" class="btn btn-success">
            <span>ВОЙТИ</span>
        </button>
    </form>
</body>
</html>