{% load static %}
<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8a0c7936ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>{% block title %}}{% endblock %}</title>

</head>
<body>
        {% block style %}
        {% endblock %}
    <aside>
         <a href="{% url 'tasks' %}"> <h1>Point<br>Plus</h1></a>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'persons' %}"><li><i class="fa-solid fa-user fa-xl" style="color: #FFFFFF; width: 50px;"></i>  Пользователи</li></a>
            <a href="{% url 'departments' %}"><li><i class="fa-solid fa-people-group fa-xl" style="color: #FFFFFF; width: 50px;"></i>  Отделы</li></a>
            <a href="{% url 'positions' %}"><li s><i class="fa-solid fa-people-group fa-xl" style="color: #FFFFFF; width: 50px;"></i>  Должности</li></a>
            <a href="{% url 'tasks' %}"><li>  Панель пользователя</li></a>
            <a href="/"><li> Выйти</li></a>
        </ul>
    </aside>

    <main>
        <h1>Панель администратора</h1>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>