{% load static %}
<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8a0c7936ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>{% block title %}}{% endblock %}</title>

</head>
<body>
        {% block style %}
        {% endblock %}
    <aside>
         <a href="{% url 'tasks' %}"> <h1>Point<br>Plus</h1></a>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'tasks' %}"><li><i class="fa-solid fa-check fa-xl" style="color: #FFFFFF; width: 50px; "></i>  Задачи</li></a>
            <a href="{% url 'incidents' %}"><li><i class="fa-solid fa-triangle-exclamation fa-xl"  style="color: #FFFFFF;width: 50px;"></i>  Инциденты</li></a>
            <li>Пользователь:</li>
            <li>{% block user %} {% endblock %}</li>
            <a href="/"><li> Выйти</li></a>
        </ul>
    </aside>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>