{% extends 'main/layout_admin.html' %}
{% block title %}
    {{ departments.departments_id }}
{% endblock %}
{% block content %}
     {% csrf_token %}
    <div class="header"><h1>{{ departments.departments_id }}</h1></div>
    {% csrf_token %}
    <p>{{departments.departments_description}}</p>
    <a href="{% url 'department_update' departments.departments_id %}"><button class="btn btn-info">Изменить</button></a><br>
    <a href="{% url 'department_delete' departments.departments_id %}"><button class="btn btn-danger">Удалить</button></a>
{% endblock %}