{% extends 'main/layout_admin.html' %}
{% block title %}
    Отделы
{% endblock %}

{% block content %}
    <div class="header"><h1>Отделы</h1></div>
    {% if departments_data %}
    <table class="table_departments">
        <tr class="table_row" style="text-align: center; font-weight:bold; "><td>Название отдела</td></tr>
        {% for el in departments_data %}
            <tr class="table_row"><td><a href="{% url 'department_detail' el.departments_id %}">{{el.departments_id}}</a></td></tr>
        {% endfor %}
    </table>
    {% else %}
        <p style="font-size: 30px;">У вас нет отделов</p>

    {% endif %}
    <br>
    <a href="{% url 'create_departments' %}"><button class="btn btn-success">Добавить отдел</button></a>
{% endblock %}