{% extends 'main/layout_admin.html' %}
{% block title %}
    Создание отдела
{% endblock %}
{% block content %}
    <div class="header"><h1>Создание отдела</h1></div>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>Введите название отдела</p>
            {{form.departments_id}}<br>
            <p>Введите описание отдела</p>
            {{form.departments_description}}<br>
            <button class="btn btn-success" type="submit">Добавить отдел</button>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}