body{
        background: linear-gradient(45deg, #dcbed4, #4f1c55);
}

aside {
    background-color: #362c36;
    float: left;
    width: 17%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 2px solid #AFDAFC;
}

aside h1 {
    border: 2px solid #AFDAFC;
    font-size: 50px;
    color: #f7f7f7;
    padding: 10px 40px 10px 30px;
    margin: 100px 40px 100px 30px;
    font-weight:300;
    text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
    text-decoration:none;
}
.header {
    margin-top: 3%;
    display: inline-block;
    padding: 10px;
    color: #362c36;
    text-align: center;
}

.header h1{
    font-size: 60px;
}
aside h3 {
    margin-top: 50px;
    font-size: 40px;
        font-weight:300;
    margin: 100px 20px 50px 30px;
}

aside ul {list-style: none}
aside ul li {
        font-weight:300;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    transition: all .5s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #ac7bcb;
    text-decoration: none;
    transform: scale(1.05);
}

.table_departments {
   color: #362c36;
   margin-top: 3%;
   width: 70%;
   border-collapse: collapse;
   border: 3px solid #AFDAFC;
}
.table_positions {
   color: #362c36;
   margin-top: 3%;
   width: 70%;
   border-collapse: collapse;
   border: 3px solid #AFDAFC;
}

.table_row {
   font-size: 30px;
   color: #362c36;
   border-collapse: collapse;
   border: 3px solid #AFDAFC;
}

form {
  margin-top: 20%;
}

input {
  width: 500px;
}

textarea {
  width: 500px;
}

.btn-success{
  width: 500px;
}

.btn-danger{
  width: 500px;
}

.btn-info{
  width: 500px;
}

select{
  width: 500px;
}