{% extends 'main/layout_admin.html' %}
{% block title %}
    Сотрудники
{% endblock %}
{% block content %}
    <div class="header"><h1>Сотрудники</h1></div>
    {% if persons_data %}
    <table class="table_positions">
        <tr class="table_row" style="text-align: center; font-weight:bold; "><td>ФИО</td></tr>
        {% for el in persons_data %}
            {% if el.username != 'admin' %}
            <tr class="table_row"><td><a href="{% url 'person_detail' el.username %}">{{el.persons_fio}}</a></td></tr>
            {% endif %}
        {% endfor %}
    </table>
    {% else %}
        <p style="font-size: 30px;">У вас нет сотрудников</p>

    {% endif %}
    <br>
    <a href="{% url 'create_persons' %}"><button class="btn btn-success">Добавить сотрудника</button></a><br>
{% endblock %}