{% extends 'main/layout_admin.html' %}
{% block title %}
    Удаление сотрудника
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="header"><h1> Удалить сотрудника?</h1></div>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Да</button><br><br>
    </form>

        <a href="{% url 'persons' %}"><button class="btn btn-success">Нет</button></a>
{% endblock %}