{% extends 'main/layout_admin.html' %}
{% block title %}
    Создание сотрудника
{% endblock %}




{% block content %}

    <div class="header"><h1>Создание сотрудника</h1></div>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>Введите идентификатор учетной записи</p>
            {{form.username}}<br>
            <p>Введите пароль учетной записи</p>
            {{form.password}}<br>
            <p>Введите ФИО</p>
            {{form.persons_fio}}<br>
            <p>Выберите должность</p>
            {{form.persons_role}}<br><br>
            <button class="btn btn-success" type="submit">Добавить сотрудника</button><br>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}