{% extends 'main/layout_admin.html' %}
{% block title %}
    {{ persons.persons_fio }}
{% endblock %}
{% block content %}
     {% csrf_token %}
    <div class="header"><h1>{{ persons.persons_fio }}</h1></div>
    {% csrf_token %}
    <p>Имя учетной записи: {{persons.username}}</p><br>
    <p>ФИО: {{persons.persons_fio}}</p><br>
    <p>Должность: {{persons.persons_role}}</p><br>
    <p>Отдел: {{persons.persons_role.positions_department}}</p><br>
    <a href="{% url 'person_update' persons.username %}"><button class="btn btn-info">Изменить</button></a><br>
    <a href="{% url 'person_delete' persons.username %}"><button class="btn btn-danger">Удалить</button></a>
{% endblock %}