{% extends 'main/layout.html' %}
{% block title %}
    Удаление инцидента
{% endblock %}
{% block user %}{{current_user}}{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="header"><h1> Удалить инцидент?</h1></div>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Да</button><br><br>
    </form>

        <a href="{% url 'incidents' %}"><button class="btn btn-success">Нет</button></a>
{% endblock %}