{% extends 'main/layout.html' %}
{% block title %}
    Инциденты
{% endblock %}
{% block user %}{{current_user}}{% endblock %}
{% block content %}
    <div class="header"><h1>Инциденты</h1></div>
    {% if incidents_data %}
    <table class="table_positions">
        <tr class="table_row" style="text-align: center; font-weight:bold;"><td>Название</td></tr>
        {% for el in incidents_data %}
            <tr class="table_row" ><td><a href="{% url 'incident_detail' el.incidents_id %}">{{el.incidents_id}}</a></td></tr>
        {% endfor %}
    </table>
    {% else %}
        <p style="font-size: 30px;">У вас нет инцидентов</p>
    {% endif %}
    <br>
    <a href="{% url 'create_incidents' %}"><button class="btn btn-success">Добавить задачу</button></a><br>
{% endblock %}