{% extends 'main/layout.html' %}
{% block title %}
    {{ incidents.incidents_id }}
{% endblock %}
{% block user %}{{current_user}}{% endblock %}


{% block content %}
     {% csrf_token %}
    <div class="header"><h1>{{ incidents.incidents_id }}</h1></div>
    {% csrf_token %}
    <p>Описание инцидента: {{incidents.incidents_description}}</p><br>
    <p>Связанная задача: {{incidents.incidents_task}}</p><br>
    <p>Связанный сотрудник: {{incidents.incidents_person}}</p><br>
    <a href="{% url 'incident_update' incidents.incidents_id %}"><button class="btn btn-info">Изменить</button></a><br>
    <a href="{% url 'incident_delete' incidents.incidents_id %}"><button class="btn btn-danger">Удалить</button></a>
{% endblock %}