{% extends 'main/layout.html' %}
{% block title %}
    Создание задачи
{% endblock %}

{% block style %}
<style>
aside{
    position: fixed;
    background-color: #362c36;
    float: left;
    width: 17%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 2px solid #AFDAFC;
}
main {
 background: linear-gradient(45deg, #dcbed4, #4f1c55);
  margin-left: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
{% endblock %}
{% block user %}{{current_user}}{% endblock %}
{% block content %}

    <div class="header"><h1>Создание инцидента</h1></div>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>Введите короткое название инцидента</p>
            {{form.incidents_id}}<br>
            <p>Введите подробное описание инцидента</p>
            {{form.incidents_description}}<br>
            <p>Выберите связанную задачу</p>
            {{form.incidents_task}}<br>
            <p>Выберите связанного сотрудника</p>
            {{form.incidents_person}}<br><br>
            <button class="btn btn-success" type="submit">Добавить задачу</button><br>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}